# MongoDB Connection
MONGODB_URI=mongodb+srv://paulonbruno:P0agoCOBlc4eCuIg@cluster0.c4xkskb.mongodb.net/designacoes?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret
JWT_SECRET=sua_chave_secreta_jwt_aqui

# Server Port
PORT=3001

# CORS Origins (comma separated)
CORS_ORIGINS=http://localhost:5173,https://designacoes-app.vercel.app
